.main-container {
  display: flex;

  gap: 267px;
  bottom: 10%;
  margin-top: 130px;
}
.image {
  height: 100%;
  width: 100%;
  background-color: red;
}
.slogan {
  text-decoration: underline;
  color: orangered;
  margin-left: 80px;
}
p {
  margin-top: 10px;
}

ul {
  font-weight: bold;
}
