<div class="main-container">
  <div class="image">
    <img [src]="images" alt="">
  </div>
  <div class="container">
    <h1 class="slogan">YOUR VOTE, YOUR CHOICE</h1>

    <p>
      Platform that enables you to cast your votes digitally over the internet.
      In this platform/site, respected voters who are eligible to vote can
      access from their personal computers, smartphones, or other
      internet-connected devices and cast their votes securely and conveninently
      making people to participate in any type of election. We ensure that
      eligible voters can vote with easy UI and guidance. <br /><br /><u
        ><b>We provide:</b></u
      >
    </p>

    <ul>
      <li>Integrity</li>
      <li>Security</li>
      <li>Encryption</li>
      <li>Fast Result</li>
    </ul>
  </div>
</div>
