.main-container {
  display: flex;

  gap: 100px;
  bottom: 10%;
  margin-top: 130px;
}
img {
  height: 400px;
  width: 400px;
  margin-left: 30px;
}
.slogan {
  text-decoration: underline;
  color: orangered;
  margin-left: 80px;
}
p {
  margin-top: 10px;
}

ul {
  font-weight: bold;
}
